################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppleliciousVentures/AppleliciousVentures.sln
/.gitignore
.vs/
[Bb]in/